@use 'functions';
@use '@unsass/breakpoint';


@import '@fontsource/metropolis';
@import '@fontsource/metropolis/300';
@import '@fontsource/metropolis/500';
@import '@fontsource/metropolis/600';
@import '@fontsource/metropolis/700';

@import 'tippy-theme';

:root {
	--bg-color: #f0f8ff;
	--sidebar-color: #fff;
	--header-color: #fff;
	--text-color: #000;
	--accent-color: hsl(141, 73%, 42%);
	--menu-background-color: #d5d5d5;
	--menu-text-color: #222;
	--border: #00000026;
	
	--light-gray: #ededed;
	--medium-gray: #d5d5d5;
	--dark-gray: #303030;
	--sidebar-width: 250px;
	--header-height: 64px;
	--error: #c24141;
	--warning: #e7a917;
	--card-bg:#fff;
	--card-text:#777;


	//DaisUI
	--tw-translate-x: 0;
    --tw-translate-y: 0;
	--tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;

	// --b3: 213 18% 10%;
	// --bc: 220 13% 69%;

	// //primary
	// //--p: 262 80% 50%;
	// --p:141 73% 42%;
    // --pc: 0 0% 100%;



}

[data-theme='dark']{
    --bg-color: #24292d;
	--sidebar-color: #000;
	--header-color: #000;
	--text-color: #fff;
	--accent-color: hsl(141, 73%, 42%);
	--menu-background-color: #323840;
	--menu-text-color: #ddd;
	--border: rgba(255, 255, 255, 0.15);
	--card-bg:#323840;
	--card-text:#ccc;
}

body {
	font-family: 'Metropolis', sans-serif;
	background-color: var(--bg-color);
	color: var(--text-color);
}

::selection {
	background-color: var(--accent-color);
	color: var(--text-color);
}

// style inputs globally
input {
	border: none;
	padding: 0 20px;
	height: 35px;
	border-radius: 20px;
	font-size: functions.toRem(14);
	color: var(--medium-gray);
}


h1,
h2{
	font-weight: 700;
	line-height: 1.5;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

h3,h4{
	font-weight: 500;
	line-height: 1.2;
	margin-top: 1.2em;
	margin-bottom: 1.2em;
}

h5,h6{
	font-weight: 400;
	line-height: 1;
	margin-top: 0.8em;
	margin-bottom: 0.8em;
}

h1 {
	font-size: functions.toRem(36);
}
h2 {
	font-size: functions.toRem(32);
}
h3 {
	font-size: functions.toRem(28);
}
h4 {
	font-size: functions.toRem(24);
}
h5 {
	font-size: functions.toRem(20);
}
h6 {
	font-size: functions.toRem(16);
}

p {
	font-size: functions.toRem(16);
	line-height: 1.7;
	margin-top: 1em;
	margin-bottom: 1em;
}

a {
	color: var(--accent-color);
}

select,
input,
button,
a {
	text-decoration: none;
	&:focus-visible {
		outline: 2px solid var(--accent-color);
		outline-offset: 2px;
	}
}

// text be visually hidden but can be read by screenreaders 
.visually-hidden, .skip-link:not(:focus) {
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

// skip to main content; in layout file
// we want to see it only on focus i.e. when user
//navigate by prssing tab button

.skip-link:focus{
	position: absolute;
	z-index: 200;
	background: var(--accent-color);
	color: #fff;
	padding: 10px;
	top: 10px;
	left: 10px;
	outline: 2px solid;
	font-weight: 500	;

}

// main page grid items styles 

.grid-items {
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px;
	// all crads to have same height
	.card {
		height: 100%;
	}
	@include breakpoint.up('sm') {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
	@include breakpoint.up('md') {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
	@include breakpoint.up('xl') {
		grid-template-columns: repeat(6, minmax(0, 1fr));
	}
}

@for $i from 1 through 3 {
	.truncate-#{$i} {
		display: -webkit-box;
		-webkit-line-clamp: $i;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
}


//STEPPER CODE FROM DAISYUI
.steps {
    display: inline-grid;
    grid-auto-flow: column;
    overflow: hidden;
    overflow-x: auto;
    counter-reset: step;
    grid-auto-columns: 1fr;


}
.steps .step {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-columns: auto;
    grid-template-rows: repeat(2, minmax(0, 1fr));
    grid-template-rows: 40px 1fr;
    place-items: center;
    text-align: center;
    min-width: 4rem/* 64px */;
}
.steps .step:before {
    top: 0px;
    grid-column-start: 1;
    grid-row-start: 1;
    height: 0.5rem/* 8px */;
    width: 100%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    //--tw-bg-opacity: 1;
    // background-color: hsl(var(--b3) / var(--tw-bg-opacity));
	background-color: var(--menu-background-color);
    //--tw-text-opacity: 1;
    //color: hsl(var(--bc) / var(--tw-text-opacity));
	color: var(--menu-text-color);
    content: "";
    margin-left: -100%;
}
.steps .step:after {
    content: counter(step);
    counter-increment: step;
    z-index: 1;
    position: relative;
    grid-column-start: 1;
    grid-row-start: 1;
    display: grid;
    height: 2rem/* 32px */;
    width: 2rem/* 32px */;
    place-items: center;
    place-self: center;
    border-radius: 9999px;
    // --tw-bg-opacity: 1;
    // background-color: hsl(var(--b3) / var(--tw-bg-opacity));
    // --tw-text-opacity: 1;
    // color: hsl(var(--bc) / var(--tw-text-opacity));
	background-color: var(--menu-background-color);
	color: var(--menu-text-color);
}
.steps .step:first-child:before {
    content: none;
}
.steps .step[data-content]:after {
    content: attr(data-content);
}

.steps .step-primary + .step-primary:before,
  .steps .step-primary:after {
    // --tw-bg-opacity: 1;
    // background-color: hsl(var(--p) / var(--tw-bg-opacity));
	background-color: var(--accent-color);
    // --tw-text-opacity: 1;
    // color: hsl(var(--pc) / var(--tw-text-opacity));
	color: var(--text-color);
}
.steps .step-primary + .step-primary:before,
  .steps .step-primary:after {
    // --tw-bg-opacity: 1;
    // background-color: hsl(var(--p) / var(--tw-bg-opacity));
	background-color: var(--accent-color);
    // --tw-text-opacity: 1;
    // color: hsl(var(--pc) / var(--tw-text-opacity));
	color: var(--text-color);
}







//STEPPER CODE FROM DAISYUI


// CARD CODE 

.card {
	position: relative;
	padding: functions.toRem(16);
	background: var(--card-bg);
	box-shadow: 0 15px 25px rgba(0,0,0,0.25);
	border-radius:functions.toRem(16);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background 0.5s;
	.content{
		display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
		color: var(--card-text);
		h2{
            // font-weight: 500; already 700 defined above
            font-size: 1.6em;
            line-height: 1.4em;
        }
		h3{
            font-weight: 500;
            font-size: 1.4em;
            line-height: 1.2em;
        }
		p{
			font-weight: 400;
			font-size: 1em;
		}
	}
}


.text-success{
	color: var(--accent-color);
  }
  .text-error{
	color: var(--error);
  }
  .text-warning{
	color: var(--warning);
  }

  .font-bold{
    font-weight: 700;
  }


